# what will be the output of the following python program

In [1]:
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc','def']
print(id(q) == foo(q))

True

Output Explanation:\
The function foo modifies the input list q by replacing its elements with new lists.\
The id(q) is the identity of the original list 'q'.\
The foo(q) returns the identity of the modified list inside the function.\
The print statement checks if these two identities are equal.\
Since the modified list is still 'q', the output is True.

# what will be the output of the following python code?

In [2]:
def fun():
    try:
        return 1
    finally:
        return 2
k= fun()
print(k)

2

Output Explanation:\
The fun function contains a try block that returns the value 1.\
There is a finally block, which will be executed regardless of whether an exception occurs or not.\
The finally block returns the value 2.

# what will be the output of the following code snippet?

In [4]:
def func():
    global value
    value = 'Local'
value = 'Global'
func()
print(value)

Local

Output Explanation:\
The function func is defined, and inside it, the global variable value is assigned the value 'Local'.\
Initially, the global variable value is set to 'Global'.\
Calling the function func modifies the global variable value to 'Local'.\
The final print(value) statement outputs the current

#  ___________ exceptions are raised as result of an error in opening a particular file

FileNotFoundError: This exception is raised when the specified file cannot be found at the provided path.

#  In python we do not specify types ,it is directly interpert by the complier, so consider the following operation to be performed

a. x =13/2

b. x=int(13/2)

c. x= 13%2

d. All Of the mentioned

a. x = 13/2: This performs floating-point division and assigns the result to x.

b. x = int(13/2): This performs floating-point division, then converts the result to an integer using the int() function before assigning to x.

c. x = 13%2: This performs the modulo operation, calculating the remainder of the division of 13 by 2 and assigns

# what willl be the out put of the follwing Python code?

In [8]:
t[5]

NameError: name 't' is not defined

#### since name is not defined it is called as a NAMING ERROR

# A while loop in python is used for what type of iteration

#### in python while loop is used for indefinate iteration. i.e., it keeps on iterating until the condition is false

# What will be the output of the following python code?

In [9]:
x = "abcdef"
while i in x:
    print(i, end=" ")

NameError: name 'i' is not defined

will raise a NameError because the variable i is not defined before being used in the loop condition.\
The code provided contains a logical error. It tries to iterate over the variable i in the string x without declaring or\ initializing i. This will result in a NameError because i is not defined before being used in the while loop.

# what is main advantage of using decorators in python?

#### decorators simplifies the syntax of decorated code

# if return statement is not used inside the function , the function will return

In Python, if a return statement is not used inside a function, the function will implicitly return None when it reaches the end of its code block. The None value represents the absence of a value or a null value in Python

# what is called when function is defined inside a class?

When a function is defined inside a class, we call it a Method

# which operator is used in python to import modules from a package?

('.') operator is used to import modules form packages

In [10]:
def getMonth(m):
    if m < 1 or m>12:
        raise ValueError("Invalid")
    print(m)
getMonth(6)

6

The getMonth function takes a parameter m, which represents a month.\
The if statement checks if the provided month is less than 1 or greater than 12, which are invalid month values.\
If the condition is true, a ValueError is raised with the message "Invalid."\
If the condition is false, meaning the month is valid, the function proceeds to the next line and prints the value of the month.\
Finally, the getMonth function is called with the argument 6, so the output will be 6 if the month is valid.

# In python programing language , syntax error is detected by ________at_______

interpreter / compile time Syntax errors in Python are detected by the interpreter during the compilation phase, which occurs before the code is executed. So, the correct answer is that syntax errors are detected by the interpreter at compile time.

In [11]:
class Book:
    def __init__(self,author):
        self.author = author
book1 = Book('V.M.Shah')
book2 = book1

In [12]:
id(book1)

2750085327440

In [13]:
id(book2)

2750085327440

A class named Book is defined.\
The class has a constructor method init that takes two parameters: self (representing the instance of the class) and author.\
The constructor initializes the instance's author attribute with the provided author parameter.\
An instance of the Book class is created with the author 'V.M.Shah' and assigned to the variable book1.\
Another variable book2 is created and assigned the same instance as book1.\
This code essentially creates two variables, book1 and book2, both referencing the same instance of the Book class. They point to the same object in memory. Any changes made through one variable will be reflected in

In [16]:
import pandas as pd


data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03','2024-01-10','2024-01-09','2024-01-08'],
    'Category': ['Beverage', 'Food', 'Beverage','Beverage','Beverage','Food'],
    'Product': ['Cappuccino', 'Croissant', 'Espresso','Latte','Latte','Muffin'],
    'Customer_id': ['C004','C002','C001','C001','C003','C002'],
    'Quantity': [1, 2, 2,3,1,1],
    'UnitPrice': [3, 2,2,3.5,3.5,2.5]}


df = pd.DataFrame(data)
df

         Date  Category     Product Customer_id  Quantity  UnitPrice
0  2024-01-01  Beverage  Cappuccino        C004         1        3.0
1  2024-01-02      Food   Croissant        C002         2        2.0
2  2024-01-03  Beverage    Espresso        C001         2        2.0
3  2024-01-10  Beverage       Latte        C001         3        3.5
4  2024-01-09  Beverage       Latte        C003         1        3.5
5  2024-01-08      Food      Muffin        C002         1        2.5

# How to create a new column "Revenue" which has value equal to the Quantity * UnitPrice" of the current row?

In [17]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

This line of code adds a new column named "Revenue" to the DataFrame df. The values in this column are calculated by multiplying the "Quantity" column with the "UnitPrice" column for each row in the DataFrame. This results in the revenue generated for each product in the corresponding row.\
df['Quantity'] accesses the "Quantity" column of the DataFrame.\
df['UnitPrice'] accesses the "UnitPrice" column of the DataFrame.\
df['Quantity'] * df['UnitPrice'] performs element-wise multiplication of the "Quantity" and "UnitPrice" columns, resulting in a new Series.\
df['Revenue'] = df['Quantity'] * df['UnitPrice'] assigns this new Series to a new column named "Revenue" in the DataFrame

# What is the syntax to find Categorical wise revenue?

In [19]:
df.groupby('Category')['Revenue'].sum()

Category
Beverage    21.0
Food         6.5
Name: Revenue, dtype: float64

df.groupby('Category'): This groups the DataFrame by the 'Category' column.\
['Revenue']: It selects the 'Revenue' column from the grouped data.\
.sum(): This calculates the sum of the 'Revenue' column for each category group

# Tofind the average quantity wrt to date and product ,what is the correct syntax?

In [21]:
df.groupby(['Date', 'Product'])['Quantity'].mean()

Date        Product
2024-01-01  Cappuccino    1.0
2024-01-02  Croissant     2.0
2024-01-03  Espresso      2.0
2024-01-08  Muffin        1.0
2024-01-09  Latte         1.0
2024-01-10  Latte         3.0
Name: Quantity, dtype: float64

df.groupby(['Date', 'Product']): This groups the DataFrame by the 'Date' and 'Product' columns.\
['Quantity']: It selects the 'Quantity' column from the grouped data.\
.mean(): This calculates the mean (average) of the 'Quantity' column for each unique combination of date and product.

# Categorical wise revenue for Beverage and food respectively are

In [22]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

df['Quantity'] accesses the "Quantity" column of the DataFrame.\
df['UnitPrice'] accesses the "UnitPrice" column of the DataFrame.\
df['Quantity'] * df['UnitPrice'] performs element-wise multiplication of the "Quantity" and "UnitPrice" columns, resulting in a new Series.\
df['Revenue'] = df['Quantity'] * df['UnitPrice'] assigns this new Series to a new column named "Revenue" in the DataFrame.

In [24]:
beverage_rev = df[df['Category'] == 'Beverage']['Revenue'].sum()
beverage_rev

21.0

df[df['Category'] == 'Beverage']: This filters the DataFrame to include only rows where the 'Category' is 'Beverage'.\
['Revenue']: It selects the 'Revenue' column from the filtered data.\
.sum(): This calculates the sum of the 'Revenue' column for the filtered data.

In [25]:
food_rev = df[df['Category'] == 'Food']['Revenue'].sum()
food_rev

6.5

df[df['Category'] == 'Food']: Filters the DataFrame to include only rows where the 'Category' is 'Food'.\
['Revenue']: Selects the 'Revenue' column from the filtered data.\
.sum(): Calculates the sum of the 'Revenue' column for the filtered data.

# Using transform ,what is the syntax to create a column which has a unitprice difference wrt its category mean?

In [26]:
df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: UnitPrice, dtype: float64

df.groupby('Category'): Groups the DataFrame by the 'Category' column.\
-['UnitPrice']: Selects the 'UnitPrice' column for further operations\

.transform(lambda x: x - x.mean()): Applies a transformation to each group, subtracting the mean of the 'UnitPrice' column within that category from each value in the 'UnitPrice' column. This calculates the unit price difference with respect to the category mean.\
The result is a new column showing the unit price difference for each row with respect to its category mean. The output you provided indicates the values of this new column for the first six rows of the DataFrame.

# What is the correct syntax to get data wrt 'Monday'?

In [28]:
df['Date'] = pd.to_datetime(df['Date'])
df.groupby(df.Date.dt.day_name()).get_group('Monday')

        Date  Category     Product Customer_id  Quantity  UnitPrice  Revenue
0 2024-01-01  Beverage  Cappuccino        C004         1        3.0      3.0
5 2024-01-08      Food      Muffin        C002         1        2.5      2.5

pd.to_datetime(df['Date']): This converts the 'Date' column to a datetime format if it's not already.

df['Date'].dt.day_name() == 'Monday': This extracts the day name from the 'Date' column using the dt accessor and checks if it\ is equal to 'Monday'. This results in a boolean mask

df[df['Date'].dt.day_name() == 'Monday']: This uses the boolean mask to filter the DataFrame, retaining only the rows where the\ day is 'Monday'.

# which of the following statement is/are True?

The apply function in pandas applies the provided function along the axis of the DataFrame or Series. If you don't specify the axis, it applies the function to each column by default. If you specify axis=1, it applies the function to each row.\
apply() can be applied on rows if you set the axis parameter accordingly.

# Which of the following statement is/are True ?

 apply and map are vectorized applications.\`
a. This statement is not entirely accurate. map applies a function element-wise on a Series, not the entire DataFrame. However, apply can apply a function to the entire DataFrame or along a specific axis (row-wise or column-wise).

b. This statement is incorrect. applymap applies a function element-wise on the entire DataFrame, not just on a Series.

c. This statement is correct. Both apply and map are vectorized operations, meaning they operate on entire arrays (columns or Series) at once, rather than iterating through individual elements.

In [30]:
data = {
    'Date': ['2024-01-10', '2024-01-11', '2024-01-10','2024-01-12','2024-01-11','2024-01-12'],
    'Region': ['North', 'South', 'East','West','North','East'],
    'Salesperson': ['Ajay', 'Balu', 'Chirag','Ajay','Balu','Chiraj'],
    'Product': ['Notebook', 'Pen', 'Notebook','Pen','Binder','Binder'],
    'Quantity': [5, 10, 7,15,20,10],
    'UnitPrice': [12, 3, 12,3,5,5]
}

df1= pd.DataFrame(data)

df1

         Date Region Salesperson   Product  Quantity  UnitPrice
0  2024-01-10  North        Ajay  Notebook         5         12
1  2024-01-11  South        Balu       Pen        10          3
2  2024-01-10   East      Chirag  Notebook         7         12
3  2024-01-12   West        Ajay       Pen        15          3
4  2024-01-11  North        Balu    Binder        20          5
5  2024-01-12   East      Chiraj    Binder        10          5

# what is the syntax to create a pivot table with index as North and south and columns as product where values are sun of Quantities sold?

In [31]:
df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Product', columns='Region', values='Quantity', aggfunc='sum')

Region    North  South
Product
Binder     20.0    NaN
Notebook    5.0    NaN
Pen         NaN   10.0

values='Quantity': This specifies the column whose values will be aggregated (summed in this case).

index='Region': This sets the 'Region' column as the index of the pivot table.

columns='Product': This sets the 'Product' column as the columns of the pivot table.

aggfunc='sum': This specifies the aggregation function, which is 'sum' in this case.

# Which of the following statement is /are True?

a) .iloc is primarily integer-location based indexing, and when you use it for slicing, it includes the last element in the specified range.

b) .loc is label-based indexing, and when you use it for slicing, it includes the start but excludes the end.

c) This statement is not entirely accurate. When using .loc for slicing, you typically provide labels (not default integer index values). If you pass integer values, it will interpret them as labels, not default integer positions.

# using a pivot table is it possible to create a multi index dataframe ,if so what is the syntax to have a multi index of data and Region with total Product sold as value

In [34]:
df1.pivot_table(index=['Date', 'Region'],columns='Product',values='Quantity',aggfunc='sum')

Product            Binder  Notebook   Pen
Date       Region
2024-01-10 East       NaN       7.0   NaN
           North      NaN       5.0   NaN
2024-01-11 North     20.0       NaN   NaN
           South      NaN       NaN  10.0
2024-01-12 East      10.0       NaN   NaN
           West       NaN       NaN  15.0

df: This assumes you have a DataFrame named df with columns like 'Date', 'Region', 'Product', and 'Quantity'.

pivot_table(): This is a pandas function used to create a pivot table from a DataFrame.

index=['Date', 'Region']: This specifies that the columns 'Date' and 'Region' will form the multi-index for the rows of the pivot table. It means that the table will be indexed based on the unique combinations of 'Date' and 'Region'.

columns='Product': This sets the 'Product' column as the columns of the pivot table. Each unique value in the 'Product' column will become a column in the resulting pivot table.

values='Quantity': This specifies that the values in the pivot table will be taken from the 'Quantity' column of the original DataFrame.

aggfunc='sum': This specifies the aggregation function to be applied. In this case, it's 'sum', meaning that the values for each combination of 'Date', 'Region', and 'Product' will be summed.

# what does the margins parameter in the pivot_table() function allowyou to include in the pivot table?

Additional margins and subtotals for rows and columns\
The margins parameter in the pivot_table() function in pandas allows you to include additional margins and subtotals for rows and columns in the pivot table. Setting margins=True adds the margins to the pivot table, providing totals for rows and columns. This can be useful for getting an overview of the data and understanding the totals for different combinations.

In [35]:
import numpy as np
data = {
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi',
               'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape',
               'apple', 'banana', 'apple', 'apple', 'apple'],
    'Price': [np.nan, np.nan, 205, 200, 40, 210, 300, 320, np.nan, 180, 350,np.nan, 35, np.nan, 215, 40, np.nan, np.nan, np.nan]
}

df2 = pd.DataFrame(data)

# if we choose to impute missing value in Price col by chaining ffill() and bfill() while limiting the imputation to 1,1 respectively ,how many missing values will be left post imputation

In [36]:
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)

The code is addressing missing values in the 'Price' column of the DataFrame df2.\
ffill(limit=1) is used to forward fill missing values, limiting the imputation to only 1 forward fill.\
Subsequently, bfill(limit=1) is applied to backward fill any remaining missing values, limiting the imputation to only 1 backward

In [37]:
x = df2['Price'].isnull().sum()
x

3

df2['Price'].isnull() checks for missing values in the 'Price' column of the DataFrame df2. It returns a boolean Series where True indicates a missing value and False indicates a non-missing value.

.sum() is then used to calculate the sum of True values, effectively giving the total count of missing values in the 'Price' column.

# What kind of missing values handling technique is appropriate for df2?

Imputing Price col with individual fruits' Price median\
The median is less sensitive to outliers compared to the mean, making it a robust choice, especially if the distribution of prices is skewed or has outliers. Imputing with the median provides a reasonable estimate of the central tendency of the data while being less influenced by extreme values.

# If we choose to impute missing values in Price col by with individual Fruits'Price's mean ,how many missing values will be post imputation

In [39]:
df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.mean()))

df2.groupby('Fruits')['Price']: This groups the DataFrame df2 by the 'Fruits' column and selects the 'Price' column for further operations.

.transform(lambda x: x.fillna(x.mean())): For each group of 'Fruits', it applies a transformation using a lambda function. The lambda function replaces missing values in the 'Price' column with the mean of non-missing values within that group.

x.fillna(x.mean()): For each group 'x', it fills missing values in the 'Price' column with the mean of non-missing values in that group.

The result is assigned back to the 'Price' column of df2, effectively imputing missing values in 'Price' with the mean of each fruit's prices.

In [40]:
df2['Price'].isnull().sum()

0

df2['Price'].isnull(): This part creates a boolean mask where each element is True if the corresponding value in the 'Price' column is missing (null) and False otherwise.

.sum(): This method then calculates the sum of True values in the boolean mask, effectively counting the number of missing values in the 'Price' column.

# if a=pd.Series([np.nan,1,2,np.nan,np.nan,np.nan,np.nan,4,5,7]) what will be the output of a.interpolate

In [42]:
a=pd.Series([np.nan,1,2,np.nan,np.nan,np.nan,np.nan,4,5,7])
a.interpolate()

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

The interpolate() function in pandas is applied to the Series 'a'.\
It fills NaN values in the Series using linear interpolation.\
The result is a Series with NaN values replaced based on linear interpolation between neighboring non-NaN values.\
the missing values are filled using linear interpolation. The missing value at index 0 is not filled because there are no preceding values to interpolate from. Linear interpolation is applied between existing values, and you can see that the NaN values are filled accordingly.

# what is the use of the normalization parameter in the crosstab method of pandas?

 It is used to normalize values by dividing them by the total count\
In the pd.crosstab method in pandas, the normalize parameter is used to normalize the values by dividing them by the total count. By setting normalize to True, the resulting table will display proportions or percentages instead of counts. This is useful when you want to see the relative frequencies of the cross-tabulated variables.